<app-review-banner [imageURL]='"the-callisto-protocol/banner.jpg"'></app-review-banner>

<div class="text-center">
  <h1>The Callisto Protocol</h1>
</div>
<div>
  <h3>More action than horror, this thrilling sci-fi romp is not the experience many were hoping for, but it is brilliant nonetheless.</h3>
  <h4>Published on 12/12/2022</h4>
</div>
<hr>

<div>
  <p>
    The Callisto Protocol was anticipated by many to be a second coming of the popular sci-fi survival horror game Dead Space, and for good reason. Striking Distance Studios - the creators of
    The Callisto Protocol - are led by Dead Space’s creator Glen Schofield, who himself has not shied away from likening the two games. Both are sci-fi survival horror games set in 
    remote locations in space, and many of Dead Space’s features return on Callisto - such as brutally gory deaths, looting bodies via stomping, a gravitational arm attachment to pick up 
    and throw things from afar, just to name a few. Callisto’s main character is even named Jacob <a href="https://youtu.be/PROPp3csaZw?t=155">in reference to Dead Space’s protagonist Isaac</a>. 
    All these similarities, and the game’s own marketing leading up to release led many to believe that this was going to be a truly terrifying game. That is not the case. 
    But while The Callisto Protocol may not deliver the terror that many wanted, what it does deliver is a visually astounding, and brilliantly fun action experience.
  </p>
</div>

<div class="video-container">
  <iframe
    frameborder="0" allowfullscreen
    src="https://www.youtube.com/embed/U9rSAmdywD4"> 
  </iframe>
</div>

<div>
  <h2>Visuals</h2>
  <p>
    To say that this game looks good is a tremendous understatement. The Callisto Protocol’s visuals are the absolute best thing about it, hands down, and I’d go so far as to say that it’s 
    probably the single best looking game I have ever played. The level of detail in the environments and character models, the intricately realised gore, the particle effects, the skyboxes and 
    the lighting are all fantastic. As a disclaimer, I recently picked up a new 4K HDR TV and other than Callisto I’ve not played a huge amount on it, so a small part of my wonderment could be 
    attributed to some new hardware. Regardless, I’m still in awe at the game’s visuals, and I didn’t even experience them at their best. I played on performance mode instead 
    of quality which beefs up some visuals and has ray-tracing enabled so it could have looked even better.
  </p>
  <app-image-viewer 
    [imageURLs]='[
      "the-callisto-protocol/lightning.png",
      "the-callisto-protocol/lighting.png",
      "the-callisto-protocol/cave-light.png",
      "the-callisto-protocol/robot.png",
      "the-callisto-protocol/jupiter.png",
      "the-callisto-protocol/lighting-2.png"
    ]'>
  </app-image-viewer>
  <p>
    Callisto’s development was aided by a full motion capture studio, and the results are evident. Other than this year’s Modern Warfare 2, I haven’t seen facial animations this realistic 
    in a video game, and rivalling the technical prowess of an industry leader such as Call of Duty is no mean feat. It isn’t just the facial animations that are impressive though. Combat, 
    and the game’s brutal death sequences were all <a href="https://www.youtube.com/watch?v=iZXLLIihMTs">created with the aid of motion capture</a>, and it really does bring the whole thing 
    to life and help to make it feel “next-gen”. Unfortunately, it isn't perfect. Some death sequences were seemingly designed specifically for certain enemy types, so when a larger enemy 
    performed the same animation - such as sticking their fingers in Jacob’s mouth and ripping half of his head clean off, there was a fair bit of clipping and things didn’t always line up perfectly.
  </p>
  <p>
    To complement the impressive technical aspects, the level of detail from the game’s artist’s is striking. There are a wide variety of different environments to explore, such as large 
    underground caves, the cramped interiors of the prison or the cold landscape of Callisto’s surface, and all of these environments were densely packed and felt genuinely real. No one area 
    is used for too long, and moving between chapters was always exciting just to see the new visuals. Character models are similarly detailed - at various points Jacob will be dripping with 
    sweat, covered in sewage, or splattered with blood, based on what is happening at the time. These effects will subtly fade over time, but are always noticeable when applied and definitely 
    add to the immersion.
  </p>
  <app-image-viewer 
    [imageURLs]='["the-callisto-protocol/face.png", "the-callisto-protocol/face-2.png", "the-callisto-protocol/face-3.png"]'>
  </app-image-viewer>
  <p>
    To be clear, regardless of how you may feel about the rest of the game, I think Callisto is probably worth playing just for the visuals, they are simply that good.
  </p>
</div>

<div>
  <h2>Performance</h2>
  <p>
    I played Callisto on an Xbox Series X in 4K. The game has two modes - quality, which runs at 4K 30fps, and performance which makes some visual sacrifices but runs 
    at 4K 60fps. The majority of my time was spent playing in performance mode, which other than some very infrequent frame drops, stayed steady at 60fps. Based on my experience, I recommend 
    playing in performance mode. There are obviously quality differences between the two modes, but the improvement to visual quality isn't worth losing half the frame rate for in my opinion. 
    A post-release patch has now added ray-tracing to the Xbox Series X version though, so those of you whose sole priority is visuals should probably opt for that.
  </p>
  <p>
    The PC release was unfortunately initially littered with <a href="https://www.ign.com/wikis/the-callisto-protocol/How_to_Fix_Stuttering_Issues">stuttering issues</a> and Striking Distance 
    have released a series of patches hoping to remedy the issues. These issues do seem isolated to PC though, as the Xbox version ran very well. My only criticism is that I 
    think performance mode should be the default. The game loads initially in quality mode, and the only way to change this in the main menu - meaning for a couple hours of play I 
    wasn’t even aware I could change it. 30fps isn’t unplayable, but the did game feel significantly better at 60 frames per second.
  </p>
</div>

<div>
  <app-image-viewer 
    [imageURLs]='["the-callisto-protocol/performance.png", "the-callisto-protocol/quality.png", "the-callisto-protocol/performance-2.png", "the-callisto-protocol/quality-2.png"]'>
  </app-image-viewer>
</div>

<div>
  <h2>Horror</h2>
  <p>
    Herein lies the divisive aspect of The Callisto Protocol, and while I personally really enjoyed the product I received, I can see why people might not. Callisto is supposedly a survival horror 
    - and given that its creators made the terrifying Dead Space, you would assume it would be genuinely scary. The pre-release marketing corroborates this - Glen Schofield stated he wanted to 
    create “<a href="https://www.ign.com/articles/the-callisto-protocol-wants-to-be-the-scariest-next-gen-horror-game-ever">the scariest game on next-gen platforms</a>” and Striking Distance 
    even released a docuseries called <a href="https://www.youtube.com/watch?v=34WdxGpiw9M">Mastering Horror</a> repeatedly stating how scary Callisto was.
  </p>
  <p>
    To be clear - the Callisto Protocol is not scary. It’s gory and brutal, and there's a lot of visual horror, but never really any fear. There’s a plethora of reasons for this. 
    Primarily, the enemies themselves aren’t scary. This didn’t have to be the case - the actual designs of the enemies are horrifying, and they look and sound incredible, but Callisto sets them 
    up to fail. If we look at the introductions of both Dead Space 1 and 2 - in both cases the opening sequence introduces you to the game’s terrifying necromorphs, but you are helpless and 
    unarmed. You see how scary these creatures are but all you can do is flee, which fills you with dread for your next encounter with them. Contrast this with Callisto, where you quickly begin 
    pummelling zombies very short into the game’s lifespan. Infact, the first enemy you see you immediately defeat in close quarters combat, which effectively teaches you that the game’s enemies 
    are nothing to be afraid of. For a game that wanted to be the scariest game of a generation, it’s a bewildering approach. 
  </p>
  <app-image-viewer 
    [imageURLs]='["the-callisto-protocol/upside-down.png", "the-callisto-protocol/grab.png"]'>
  </app-image-viewer>
  <p>
    This lack of tension continues throughout. Anticipation really is everything - waiting for an enemy to pop up is the actual scary part, and the sheer volume of enemies that appear in Callisto 
    doesn’t allow for any anticipation to build at all. The game is littered with jumpscares, but because there’s never any tension prior to the reveal, they mostly just fall flat. The only 
    moments where I felt any inklings of fear were in the incredibly brief sections that were lighter on the enemies, but they were few and far between. Again, compare this to the infamous return 
    to the Ishimura in Dead Space 2, where the entire time you are tensed up waiting for a single enemy to appear. Less is often more in horror, and this is a lesson that Callisto seems to 
    have forgotten.
  </p>
  <p>
    The final reason the game falls flat in the horror department is its combat design. To put it simply, the game is mostly melee focused, and it’s hard to be afraid of an enemy while you 
    beat them to death with a bat.
  </p>
</div>

<div>
  <h2>Gameplay</h2>
  <p>
    Callisto definitely doesn’t deliver on the horror aspects, so it won’t be the game for those looking solely for a terrifying experience. However, I firmly believe it does deliver in its 
    gameplay. Even this aspect is divisive though - the dodging mechanic that is key to the game’s combat loop isn’t particularly well explained - it took me a little while to understand 
    initially and I died numerous times to the first few enemies I came up against. This confusion has left many players frustrated and annoyed, but perseverance through a few deaths while you 
    get the hang of it will reward you with a very satisfying gameplay experience.
  </p>
  <p>
    As previously stated, the game is melee focused. The basic loop is this: you wait for an enemy to attack and dodge to one side, then dodge to the opposite side for each subsequent attack until 
    the enemies combo ends (this is the confusing part, it doesn’t matter which side you dodge initially, as long as you alternate for each successive attack), at which point you can return with 
    your own melee combo with your stun baton. Other than the confusion, it's actually pretty simple, and once you know what you're what you're doing it feels fantastic. The melee is weighty and 
    visceral, and succesfully dodging and returning a melee combo is a gratifying experience.
  </p>
  <p>
    You eventually get access to various guns, and while they are all just conventional firearms and lack the creativity that sci-fi weaponry often has, they do feel great. The first pistol you 
    acquire feels weighty and satisfying to shoot, and this continues with all the other weapons you unlock as you play.
  </p>
  <app-image-viewer
    [imageURLs]='["the-callisto-protocol/shotgun.png", "the-callisto-protocol/pistol.png", "the-callisto-protocol/skunk-gun.png"]'>
  </app-image-viewer>
  <p>
    Each gun, and the stun baton, can be upgraded. Most of these weapon upgrades are basic such as increasing magazine size, but each weapon does have a final upgrade 
    that unlocks a unique firing mode that is a little more interesting and can dramatically increase the weapons power. The baton upgrades are slightly more exciting, allowing for a few 
    new attacks, increased combo length or different effects when blocking. There's nothing particularly groundbreaking here, but the pace of upgrades and choice of where to invest does feel 
    good, though I would have liked to see some upgrades to the character themselves - you get a single, significant boost to inventory space and health halfway through the game but this is 
    tied to story progression - making you choose between increased health or a better weapon would have been a more interesting dynamic.
    Also, throughout my first playthrough, I only managed to fully upgrade a single weapon, meaning you will have to prioritise the ones you enjoy the most. I was disappointed to learn Callisto 
    currently has no new game plus mode as I really wanted to take all my upgraded toys into a harder version of the game from the start - but fortunately one is releasing 
    <a href="https://twitter.com/CallistoTheGame/status/1598458091569569792?cxt=HHwWgIDThcrK7q4sAAAA">in a few months</a>.
  </p>
  <app-image-viewer
    [imageURLs]='["the-callisto-protocol/weapon-upgrade.png"]'>
  </app-image-viewer>
  <p>
    While playing you will also gain access to the GRP, a gravitational arm attachment that allows you to pick up both items and enemies, and hurl them away. It’s very similar to Dead Space’s kinesis, but with 
    a focus on throwing enemies themselves, meaning that its greatest use is in flinging enemies into the game’s various environmental hazards, such as spinning saw blades or spiked walls. 
    An upgraded GRP can absolutely trivialise some encounters by letting you instantly dispatch enemies, but it’s fun nonetheless. It’s more interesting (and less cheesy) when used in combination 
    with the other tools in your arsenal, and can facilitate some great combat encounters. For example, you GRP an enemy from afar and pull them in close, then follow up with a heavy melee attack 
    and a quick shot from your shotgun, then GRP them again and throw them at a different enemy who was approaching which causes them both to stumble, before you dodge and strike at a third enemy 
    joining the fight.
  </p>
  <app-image-viewer 
    [imageURLs]='["the-callisto-protocol/stealth.png", "the-callisto-protocol/environmental.png"]'>
  </app-image-viewer>
  <p>
    Finally, Callisto allows you to stealth kill enemies if you can sneak up undetected. One chapter of the game pits you against a large number of blind enemies that are too overwhelming in number 
    to take on in normal combat, so stealth is strongly encouraged. I found this to be the weakest part of the entire game, the enemies were completely unaware when you loudly stealth killed an 
    enemy right next to them, and it was mostly just slow and boring. Stealth was more interesting when used against normal enemies, if you could get a quick kill on a single enemy to take them 
    out of the fight before others became aware of your presence, but even then it was a weaker part of the game’s offering. 
  </p>

  <h3>Enemies</h3>
  <p>
    The Callisto Protocol has a few different enemy types, but I definitely would have appreciated some more with a little more variety in their behaviours. There are two bosses, one of which 
    is recycled frequently throughout the game, and a final boss which yielded the most tension I felt during the whole game. Both of these bosses will one hit kill you if you slip up, 
    which is pretty unforgiving, but I personally enjoyed the challenge. 
  </p>
  <app-image-viewer 
    [imageURLs]='["the-callisto-protocol/enemy.png", "the-callisto-protocol/enemy-2.png", "the-callisto-protocol/enemy-3.png"]'>
  </app-image-viewer>
  <p>
    These enemies' behaviours aren’t necessarily unique but the enemies themselves do have some unique and gruesome designs, and each come with distinct death animations when they kill the player. 
    These death animations are one of my favourite parts of the game, and is one of the aspects of Dead Space that Striking Distance faithfully managed to replicate. On my second playthrough 
    I attempted to die to everything that didn’t manage to kill me the first time around just to see what they had to offer. My only complaint in this regard, is that a lot of the more 
    unique animations are tied to enemies or scenarios that are pretty unlikely to actually kill you, so you will often end up seeing the same ones repeated. For the brave hearted, enjoy 
    an example death animation in the video below.
  </p>

  <div class="video-container">
    <video controls controlslist="nodownload noplaybackrate" disablepictureinpicture>
      <source src="assets/images/the-callisto-protocol/double-arm-remove.mp4" type="video/mp4">
    </video>
  </div>

  <p>
    Stealth aside, Callisto’s combat is great. There isn’t a huge amount of depth, but its unforgiving nature means you have to make good use of the tools in your arsenal to survive. 
    Other than the visuals it’s the game’s best asset, and I’m eagerly anticipating the new wave based mode coming out with the game’s season pass.
  </p>
</div>

<div>
  <h2>Exploration</h2>
  <p>
    For a game with such rich, dense environments, there is very little to find as you explore Black Iron Prison and its surroundings. There are side paths that you can go down with items and 
    resources, as well as various collectible logs to find, but these aren’t a huge focus. For the most part, the game is very linear, and you will go in the single direction that is dictated 
    to you. This does sound like a negative, but in the end I found myself enjoying the almost on-rails feel.
  </p>
  <p>
    Most survival horror games have puzzles, Callisto does not. The most complicated task you’ll have to carry out is grabbing some fuses to open a door, which you will have to do repeatedly. 
    Again, normally I would chastise this simplicity and would appreciate some more interesting mechanics to engage with as I explore, but Callisto had me happily pushing forward to eagerly 
    go in the next room and kill more zombies. The combat, and the lack of horror are two ways this game is more action than survival horror, but the linear level design pushes this philosophy too.
  </p>
  <app-image-viewer 
    [imageURLs]='["the-callisto-protocol/shuffling.png", "the-callisto-protocol/ladder.png", "the-callisto-protocol/vent.png", "the-callisto-protocol/water-slide.png"]'>
  </app-image-viewer>
</div>

<div>
  <h2>Story</h2>
  <p>
    Callisto has a story, but I don’t have much to say about it. It took a surprisingly long amount of time to actually get started, I never really found myself invested in any of the characters 
    at all, and it was pretty predictable and bland. There were hints of interesting plot points, but they weren’t explored very much, and cutscenes were pretty few and far between, which was 
    a shame given how good they looked. We know that story DLC is coming, so hopefully future forays into Callisto’s world are a little more engaging in this department. 
  </p>
</div>

<!-- <div>
  <h2>Deaths</h2>
  <p>
    For those who are not faint of heart, enjoy a compilation of the game's deaths below (all credit goes to <a href="https://www.youtube.com/@Gamology">Gamology</a>).
  </p>
</div>

<div class="video-container">
  <iframe
    frameborder="0" allowfullscreen
    src="https://www.youtube.com/embed/VNUkDwvaYow">
  </iframe>
</div> -->

<div>
  <h2>Verdict</h2>
  <p>
    Playing The Callisto Protocol made me feel similar to how I felt watching Top Gun: Maverick earlier this year. The film did have a story, but it wasn’t that interesting and I frankly 
    didn’t really care too much about what happened. But that didn’t matter - I was there to watch people fly around in jets and kill bad guys, and in that regard the film was amazing. Similarly, 
    Callisto has plenty of issues that should have detracted from the experience: the story is bland and uninteresting and the game is very linear with little to reward exploration, but these 
    issues just fell to the wayside when I was having so much fun caving in zombie heads, or watching my own arms get ripped off in stunning visual clarity. It’s not at all scary, and in many 
    ways it really shouldn’t work, but it just does. With new game plus and some other new modes coming out over the next few months, I'm excited to play more.
  </p>
</div>

<div class="card">
  <app-review-card [score]="score" [pros]="pros" [cons]="cons" [primaryColour]="primaryColour" [secondaryColour]="secondaryColour"></app-review-card>
</div>
