.viewer-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  cursor:zoom-out;
  backdrop-filter: blur(10px);
}

.viewer-content {
  width: 100%;
  height: 100%;
}

.main-img {
  max-height: 95%;
  max-width: 95%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: transparent url(../../assets/images/loading.gif) center center no-repeat;
}

.base-img-container {
  cursor: zoom-in;
}

.base-img {
  background: transparent url(../../assets/images/loading.gif) center center no-repeat;
}

.main-container {
  position: relative;
}

.icon-section {
  position: absolute;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.icon-section.fullscreen {
  z-index: 1000;
}

@media (hover: hover) {
  .icon-section:not(.fullscreen):hover {
    background: rgba(0,0,0,.5);
  }
}

@media (hover: hover) {
  .icon-section:hover {
    opacity: 0.5;
  }
}

.icon-section:active {
  opacity: 0.5;
}

.image-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.image-text > p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.right-section {
  left: 90%;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-select:focus {
  outline: none !important;
}
