<div style="margin-top: 50px;">
  <app-review-banner
    [imageURL]='"assets/images/little-nightmares-2-banner.png"'
    [gameTitle]='"Little Nightmares 2"'
    [reviewScore]='"8/10"'
    [reviewDate]='"15/02/2021"'>
  </app-review-banner>
</div>

<div class="text-center">
  <h1>Little Nightmares 2</h1>
  <hr>
</div>

<div class="video-container">
  <iframe
    frameborder="0" allowfullscreen allow="autoplay"
    src="https://www.youtube.com/embed/AI9zBBTyX-E">
  </iframe>
</div>

<div>
  <h2>Visuals</h2>
  <p>Visually game very impressive, reflections particularly looked gorgeous (afaik not using raytracing but semi static camera angles maybe contribute to it?)</p>
</div>

<div>
  <h2>Sound</h2>
  <p>Sound design was great, pitter patter of footsteps, mannequin movement, slap of ruler on table. Ambient music was good.</p>
</div>

<div>
  <h2>Bugs</h2>
  <app-image-viewer [imageURL]='"assets/images/little-nightmares-2-hand.png"'></app-image-viewer>
  <p>Quite a lot of game breaking bugs, couldn't progress quite a few times and had to reset checkpoints or exit to the main menu and restart.
     Tv remote refused to work, enemies get stuck in locations so I couldn't pass, doors wouldn't open, partner character was in locations she shouldn't be,
     amongst others. Got to where I was struggling to solve a puzzle and was adamant it was glitched because I'd seen so many when in reality I was doing the
     puzzle incorrectly. My first thought shouldn't be that I'm correct and the game is bugged, i should know if something doesn't work that it's because I've
     not solved it.</p>
</div>

<div>
  <h2>Locations</h2>
  <p>Reasonable variety of locations, end of the game is a good change of pace bringing a lot more colour than is in the rest.</p>
</div>

<div>
  <h2>Frustrations</h2>
  <p>Some areas were very frustrating, and not in a good way. A creepy section loses its edge when you aren't scared because you've died 8 times. A noteworthy area
    was dying to the neck woman while not realising I could slide into the vent. Many deaths felt cheap, mainly the deaths from floorboards springing traps,
    and the encounters with the porcelain dolls. You would learn the dolls attack behaviour but then a new doll would suddenly change and so you'd swing early or
    late with your weapon then die, was frustrating. Liken it to one of those old internet games like impossible game or those stupid Mario games where you only get
    through the level by just memorising where you've died previously.Pacing is quite good, though areas do tend to follow a similar formula of being introduced
    to the boss, sneaking around them, leaving and returning to them a few times then finally culminating in a chase scene. Chase scenes are real nail biters
    though and some of the games best parts.</p>
</div>

<div>
  <h2>Characters</h2>
  <p>Character design is great for the most part, enemies are all creepy - personal faves are the mannequins/hand and the long neck woman</p>
</div>

<div>
  <h2>Torches</h2>
  <app-image-viewer [imageURL]='"assets/images/little-nightmares-2-mannequin.png"'></app-image-viewer>
  <p>Best enemy of the game was the mannequins, their mannerisms were terrifying, and having to stop them with the torch was a great mechanic and reminded me
    of the weeping angels from doctor who (gave me many nightmares). However this section was let down massively by TERRIBLE torch controls. Standing one direction
    and then looking left may look to the characters right, and turning the whole character round and looking left again may look right still, or another time
    may look left or even somewhere else. Very difficult to control the torch towards enemies, did gradually get some more success but it meant the initial shock and
    effect of the encounter was kind of ruined by frustrating with the controls. Even tried using a controller but had no better luck.</p>
</div>

<div>
  <h2>Inspiration</h2>
  <p>Game feels like it is heavily motivated by inside (not a bad thing as it's phenomenal) but it does manage to maintain its own identity. Inspiration feels
    mostly in environment and somewhat in "close call" encounter design, which I think inside perfected. The door in the ocean set piece felt heavily
    reminiscent of inside. Also feels somewhat similar in the "drones" aspect, inside had people under mind control which this has similar with the television
    broadcasts. Comparing the two a lot because the genre is basically the same (little nightmares does have an extra dimension to play with though). Need to replay
    first game to compare how it stacks up, definitely feels much more grand.</p>
</div>

<div>
  <h2>Horror</h2>
  <p>Horror wise, some parts are genuinely scary and somewhat disturbing, not just from the enemies. Cooking the slug man in the furnace was brutal, but then the
    raincoat girl just warming her hands at the fire was hilarious and unnerving. Other instants are her jumping on one of the porcelain dolls and beating it to death,
    and her breaking the fingers on one of the mannequins.</p>
    <app-image-viewer [imageURL]='"assets/images/little-nightmares-2-hand-wall.png"'></app-image-viewer>
</div>

<div>
  <h2>The villains</h2>
  <p>Character design contributes well to creepiness, neck lady is disgusting, mannequins are erratic and frightening, the hand has some really cool animation,
    making me compare my own hand to see if I could contort it into the shapes the hand was doing.</p>
</div>

<div>
  <h2>Six</h2>
  <p>Partner AI seems to have mostly been solved by now, (no one likes where the friendly ai has to be protected) always think of Elizabeth in bioshock infinite just
    being invisible/invincible to enemies. Raincoat girl is mostly great companion, adding another dimension to puzzles and adding emotional level of companionship
    (them holding hands is real cute). Some minor frustrations when trying to hide where she almost pushed me out of cover, and some colliding issues
    with her when running.</p>
    <app-image-viewer [imageURL]='"assets/images/little-nightmares-2-hand-holding.png"'></app-image-viewer>
</div>

<div>
  <h2>Secrets</h2>
  <p>Quite a few secrets in game, looking for different hats (I preferred the ones that covered characters head as the character face design is odd, almost looks like
    porcelain itself, is kind of uncanny valley and a bit odd and I'm not a big fan) and finding the TV static ghosts etc, encourages exploration
    and replaying the game.</p>
</div>

<div>
  <h2>Storytelling</h2>
  <p>I love linear games that tell a good story and don't overstay their welcome like so many games do nowadays. A good game can be short and I'll end up playing it
    lots by returning to it to play it again as I enjoyed it so much, a long game that requires me to collect 900 things won't be replayed, if finished.</p>
</div>
