<app-review-banner [imageURL]='"assets/images/little-nightmares-2-banner.png"'></app-review-banner>

<div class="text-center">
  <h1>Little Nightmares 2</h1>
</div>
<div>
  <h3>Beautifully atmospheric and horrifying, Little Nightmares 2 builds on the foundations of its predecessor and delivers a succinct but thrilling experience.
  </h3>
  <h4>Published on 27/02/2021</h4>
</div>
<hr>

<div>
  <p>
    Tarsier studio's second foray into the world of Little Nightmares takes us away from the setting of the first game - The Maw - 
    and gives us a look at the wider world. We no longer play as Six, the girl in the raincoat, and instead play as Mono, a young boy with a bag over his head. 
    While the game's stunning locations may be different and more varied than the original, and you play as a different character, one thing remains constant: 
    you are tiny, in a big scary world.
  </p>
</div>

<div class="video-container">
  <iframe
    frameborder="0" allowfullscreen allow="autoplay"
    src="https://www.youtube.com/embed/AI9zBBTyX-E">
  </iframe>
</div>

<div>
  <p>
    This was the ethos behind the first game, and it carries through the second installment as well. Save for a few encounters, you are the smallest creature in this world.
    Huge, terrifying threats loom around every corner, and escaping them will involve both nail-biting stealth and thrilling chases. 
    <br>
    <br>
    The design of these threats is one of the games greatest aspects, and it does a fantastic job of portaying many common childhood fears.
    An old, ruthless teacher with a creaking, unending neck reminded me of my primary school's scariest teachers.
    Mannequins with erratic, shuffling movements that made my spine shudder are reminiscent of Doctor Who's weeping angels that gave me many sleepless nights.
    A thin, towering man slowly approaches while you sprint away in slow motion - a common nightmare brought to life.
  </p>
  <app-image-viewer [imageURL]='"assets/images/little-nightmares-2-teacher.png"'></app-image-viewer>
</div>

<div>
  <p>
    Interactions with these adversaries is where the game itself comes alive. An early encounter in the game pits you against a hulking man armed with a shotgun.
    This is the hunter, and you are his prey. You avoid him for a time, holding your breath as you wade underwater through a slimy swamp to escape his gaze, 
      or remaining perfectly still in tall grass so as not to be lit up by his lantern.
    In time though, you are found, and the chase begins.
  </p>
</div>

<div>
  <p>
    You take refuge behind a crate, and the Hunter fires his shotgun, destroying the box. While he reloads, you sprint to another crate, making it just in time to avoid the next blast.
    You dart between cover, wincing as each shotgun blast echoes through the night. 
    Eventually you manage to escape the Hunter's sightline, and you are left with your heart pumping, wondering how you survived.
  </p>
</div>

<div>
  <p>
    This encounter design is comparable with both the first Little Nightmares and Playdead's game: Inside.
    The distance between each box is designed to give you just enough time to escape by the skin of your teeth.
    The majority of the game's chase scenes are structured in this way, and it works fantastically - narrowly avoiding death never ceases to be exhilarating.
  </p>
  <app-image-viewer [imageURL]='"assets/images/little-nightmares-2-hunter.png"'></app-image-viewer>
</div>

<div>
  <p>
    Little Nightmares 2 leans heavily on interactions such as this - and rightfully so - they are easily the high points of the journey.
    However, this does lead to some of the games sections feeling quite formulaic: you meet a badguy, you sneak around them, they chase you, you escape, and repeat.
    The formula works though, and the excitement is present throughout the whole game. This is largely in part due its short runtime of 4/5 hours - 
      any longer and it would begin to feel monotonous.
  </p>
</div>

<div>
  <h2>Change of pace</h2>
  <p>
    Between these climactic moments, you are given a chance to catch your breath. 
    Much of the game is spent exploring the world and solving puzzles with Six (who you team up with fairly early on).
    As far as AI companions go, Six is pretty good, and her relationship with Mono forms the emotional core of the narrative.
    The pair work together to overcome different scenarios, with Six saving Mono from long drops, giving him a boost to get to otherwise inaccesible areas,
      and distracting enemies so Mono can sneak up behind and land the killing blow.
  </p>
  <app-image-viewer [imageURL]='"assets/images/little-nightmares-2-hand-holding.png"'></app-image-viewer>
</div>

<div>
  <p>
    This combat is one of Little Nightmares 2's new features - Mono can wield blunt instruments such as sledgehammers or axes,
     dragging them along the floor to break a door or smash a porcelain doll's skull.
    Unfortunately, this combat is also one of the games lowest points, and highlights the failures of its "Die to Learn" mentality. 
    For example, when fighting the dolls, you learn that they will approach you and come to a brief stop,
      at which point you must swing your weapon to kill them or they will pounce on you.
    One doll does not employ this behaviour, pausing for a longer time than the others before pouncing.
    This results in you swinging your weapon early and being killed, but the only way to learn this behaviour was to die to it. 
  </p>
</div>

<div>
  <p>
    These incidents are not isolated. I frequently found myself frustrated with what I considered to be "cheap shots".
    As another example - when walking along a corridor, I stepped on a floorboard that was jutting out differently from the rest, 
      and was greeted with a bucket swinging and killing me.
    I dodged this bucket on my next attempt. When I found another board, I dodged the first bucket again, and a second bucket came down and killed me.
    Again, the only way to know to expect this was to die to it. Moments like this ruined the game's atmosphere, replacing tension with annoyance.
  </p>
</div>

<div>
  <h2>Falling short</h2>
  <p>
    Another point of frustration was in the mannequin area.
    To combat these enemies, you must point your torch at them, illuminating them and stopping them in their tracks.
    While the enemies were horrifying - this was one of my favourite sections of the whole game - it was let down significantly by the unintuitive controls of the torch.
    Standing in one place and aiming would point the torch in seemingly random directions.
    After multiple deaths, I switched from my mouse and keyboard to a controller in the hopes of some more sensible controls, but they were no better.
    Repeated deaths like this are damaging to a horror game.
    You are no longer immersed in fear and tension, as you've already seen the worst of what the monster has to offer. What remains is simply irritation.
  </p>
  <app-image-viewer [imageURL]='"assets/images/little-nightmares-2-mannequin.png"'></app-image-viewer>
</div>

<div>
  <p>
    A series of bugs only served to exacerbate this irritation.
    There were multiple times where I couldn't progress and had to reset checkpoints or exit to the main menu and restart.
    One of the game's puzzle solving mechanics, a TV remote, stopped working. Enemies would get stuck in locations so I couldn't pass. Doors wouldn't open.
    Six was in areas she shouldn't have been.
    None of these are that problematic in isolation, but their frequency meant I was often taken out of the experience.
  </p>
  <app-image-viewer [imageURL]='"assets/images/little-nightmares-2-hand.png"'></app-image-viewer>
</div>

<div>
  <h2>Verdict</h2>
  <p>
    Despite occasional frustrations, I thoroughly enjoyed my time playing Little Nightmares 2.
    It is visually stunning. The sound design is fantastic - both the music and sound effects work to convey the horrors of the world.
    I found myself genuinely scared by a series of incredibly well designed adversaries and by the immersive environments they were located in.
    This second installment did what any good sequel should - it took what made the first game so special and built upon it, increasing the scale and the stakes 
      but retaining the identity of what made it so enjoyable.
  </p>
</div>

<div class="card">
  <app-review-card [score]="score" [pros]="pros" [cons]="cons"></app-review-card>
</div>

