<div class="outer-aligner" #outerAligner (swipeup)="onSwipeUp()">
  <div class="spacer"></div>
  <div class="aligner" #aligner>
    <div class="bio">
      <div>
        <h1>Hi. I'm Caleb.</h1>
        <h4>I'm a full stack software engineer, working primarily with .Net Core and Angular applications.</h4>
        <h4>I like gaming, reading and coding, and I'm a little obsessed with coffee. I have 3 pet rats. I live in London.</h4>
      </div>
    </div>
    <div class="portrait" #portrait style="max-width: 80%; margin-bottom: 15px;">
      <app-image-viewer [isCircular]="true" [imageURL]='"assets/images/Portrait.jpg"'></app-image-viewer>
    </div>
    <div class="icon-container">
      <app-home-nav *ngIf="isMobile" [openMenuSubject]="openMenuSubject.asObservable()"></app-home-nav>
    </div>
  </div>
  <ul class="links" *ngIf="!isMobile">
    <li class="list-item">
      <a [routerLink]="['/', AppRoutes.Home]">
        <h4 class="is-active">Home</h4>
      </a>
    </li>
    <li class="list-item">
      <a [routerLink]="['/', AppRoutes.Second]">
        <h4>CV</h4>
      </a>
    </li>
    <li class="list-item">
      <a [routerLink]="['/', AppRoutes.Third]">
        <h4>Portfolio</h4>
      </a>
    </li>
    <li class="list-item">
      <a [routerLink]="['/', AppRoutes.Fourth]">
        <h4>Blog</h4>
      </a>
    </li>
    <li class="list-item">
      <a [routerLink]="['/', AppRoutes.GameReviews]">
        <h4>Game Reviews</h4>
      </a>
    </li>
    <li class="list-item">
      <a [routerLink]="['/', AppRoutes.Sixth]">
        <h4>Contact</h4>
      </a>
    </li>
  </ul>
  <div class="spacer"></div>
</div>
