<div class="text-center">

  <h1>Caleb Devonport</h1>
  <hr>

  <div style="display: flex; flex-wrap:wrap; padding:25px 0px; align-items: center; height: 45%;">
    <div style="flex: 1;">
      <h1>Software Engineer</h1>
      <h1 style="font-weight: 900;">RANDOM</h1>
      <h1 style="font-weight: 900;">Random</h1>
      <h1>RANDOM</h1>
      <h1>Random</h1>
      <h1 style="font-weight: 300;">RANDOM</h1>
      <h1 style="font-weight: 300;">Random</h1>

    </div>
    <div style="flex: 1; min-width: 250px;">
      <app-image-viewer [imageURL]='"assets/images/crab-pic.jpg"'></app-image-viewer>
    </div>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>How does a normal sentence look here? Just gonna type some random words other than lorem ipsum as I'm interested. How about if I write enough for it to split over two lines?</p>
  </div>

  <div style="display: flex; flex-wrap:wrap; padding-bottom:25px; align-items: center;">
    <div style="flex: 1; min-width: 250px;">
      <app-image-viewer [imageURL]='"assets/images/crab-pic.jpg"'></app-image-viewer>
    </div>
    <div style="flex: 1;">
      <h1>Software Engineer</h1>
      <h1>Random</h1>
      <h1>Random</h1>
      <h1>Random</h1>
      <h1>Random</h1>
    </div>
  </div>

  <div style="padding-bottom:25px;">
    <app-image-viewer [imageURL]='"assets/images/doom-panorama.jpg"'></app-image-viewer>
  </div>
  <div style="padding-bottom:25px;">
    <app-image-viewer [imageURL]='"assets/images/doom-panorama.jpg"'></app-image-viewer>
  </div>
  <div style="padding-bottom:25px;">
    <h1>Testing the bottom</h1>
  </div>
</div>
