<app-review-banner [imageURL]='"assets/images/scorn/banner.png"'></app-review-banner>

<div class="text-center">
  <h1>Scorn</h1>
</div>
<div>
  <h3>Breathtaking and grotesque, this disturbing horror is a sometimes flawed, but truly unique experience.  </h3>
  <h4>Published on 23/10/2022</h4>
</div>
<hr>

<div>
  <p>
    
  </p>
</div>

<div class="video-container">
  <iframe
    frameborder="0" allowfullscreen
    src="https://www.youtube.com/embed/imuJeL51A0E">
  </iframe>
</div>

<div>
  <h2>Vision</h2>
  <p>
    Scorn’s repulsive art style is its main attraction, and there’s a reason that its disturbing visuals are so striking. It initially reminded me strongly of Alien, and that’s 
    because the biopunk world that you’ll explore throughout Scorn is heavily inspired by the works of both <a href="http://www.artnet.com/artists/hans-rudolf-giger/">H.R. Giger</a> 
    - the artist best known for the creation of Alien’s xenomorph, but who also produced many other biomechanical pieces of art blending humans, flesh and machines 
    together - and <a href="http://www.artnet.com/artists/zdzislaw-beksinski/">Zdzislaw Beksinski</a> - another artist famous for producing surreal dystopian 
    imagery. In my opinion, “inspired” feels like an understatement. To me, Scorn feels like an attempt to bring the two artists’ works to life in an interactive medium.
    <br>
    <br>
    In this world, meat and flesh are fused to almost every surface. Brutal mechanisms that crush, sever and scoop are controlled by the operator sticking their fingers, thumbs or 
    whole arms physically inside the machine’s fleshy controls. In true Giger fashion, almost every structure is either phallic or yonic, and the sexual imagery gets even less subtle 
    as the game progresses. In-between the cramped, bloody interiors, barren landscapes stretch far into the distance, desolate other than the various littered corpses of those who 
    came before you. The world is cold and oppressive. It feels hopeless. I can’t overstate how well Scorn absolutely nails this atmosphere. It aims to be disgusting and unsettling and 
    it does not fall short.
  </p>
</div>

<app-image-viewer [imageURL]='"assets/images/scorn/wall.png"'></app-image-viewer>

<div>
  <h2>Verdict</h2>
  <p>
    Scorn is intense. The atmosphere, audio and visuals are so gripping that I have no doubt I'll return to this game to re-experience it every few years. 
    Like all good single player experiences, it doesn't overstay its welcome, and the environmental storytelling is largely unexplained, inviting multiple playthroughs to those 
    intrigued enough to try and figure out what is going on. Make no mistake, it isn't perfect. The gunplay is unengaging, clunky and frustrating enough to actively detract from the 
    overall experience. It also <span style="font-weight:bold">absolutely</span> is not for everyone. It's violent, gory, overtly sexual and often very uncomfortable. But this is by design, 
    a vision and experience that Ebb Software unapologetically shoves in your face throughout the game. I've never played anything like it.
  </p>
</div>

<div class="card">
  <app-review-card [score]="score" [pros]="pros" [cons]="cons" [primaryColour]="primaryColour" [secondaryColour]="secondaryColour"></app-review-card>
</div>
