<app-review-banner [imageURL]='"scorn/banner.png"'></app-review-banner>

<div class="text-center">
  <h1>Scorn</h1>
</div>
<div>
  <h3>Breathtaking and grotesque, this disturbing horror is a sometimes flawed, but truly unique experience.  </h3>
  <h4>Published on 03/11/2022</h4>
</div>
<hr>

<div>
  <p>
    I definitely have mixed feelings about Scorn. In many ways it’s brilliant: art style, sound design, pacing, animation, worldbuilding, and it’s unwavering commitment to its unique vision. 
    At the same time, the actual gameplay leaves a fair bit to be desired: mostly in enemy design and combat. I wanted to love it going in, and I definitely still do - but that’s in spite of 
    some rather glaring problems. If you aren’t immediately drawn in by the game’s atmosphere then you’ll probably have a pretty poor time with Scorn. But if you <span style="font-style: italic;">are</span> 
    willing to look past the game’s issues and frustrations, and immerse yourself in its world, then you’re in for a really disgusting treat.
  </p>
</div>

<div class="video-container">
  <iframe
    frameborder="0" allowfullscreen
    src="https://www.youtube.com/embed/imuJeL51A0E">
  </iframe>
</div>

<div>
  <h2>Performance</h2>
  <p>
    I played Scorn on an Xbox Series X and, other than some occasional texture popping in loading areas, experienced a steady frame rate and high performance throughout. 
    However I was only playing on a 1080p/60hz TV so cannot comment on performance at more demanding resolutions and frame rates. I encountered no bugs throughout either of my two playthroughs, 
    and was impressed overall with Scorn's technical performance.
  </p>
</div>


<div>
  <h2>Vision</h2>
  <p>
    Scorn’s repulsive art style is its main attraction, and there’s a reason that its disturbing visuals are so striking. It initially reminded me strongly of Alien, and that’s 
    because the biopunk world that you’ll explore throughout Scorn is heavily inspired by the works of both <a href="http://www.artnet.com/artists/hans-rudolf-giger/">H.R. Giger</a> 
    - the artist best known for the creation of Alien’s xenomorph, but who also produced many other biomechanical pieces of art blending humans, flesh and machines 
    together - and <a href="http://www.artnet.com/artists/zdzislaw-beksinski/">Zdzislaw Beksinski</a> - another artist famous for producing surreal dystopian 
    imagery. In my opinion, “inspired” feels like an understatement. To me, Scorn feels like an attempt to bring the two artists’ works to life in an interactive medium.
  </p>
</div>

<app-image-viewer [imageURLs]='["scorn/indoors.png"]'></app-image-viewer>

<div>
  <p>
    In this world, meat and flesh are fused to almost every surface. Brutal mechanisms that crush, sever and scoop are controlled by the operator sticking their fingers, thumbs or 
    whole arms physically inside the machine’s fleshy controls. In true Giger fashion, almost every structure is either phallic or yonic, and the sexual imagery gets even less subtle 
    as the game progresses. In-between the cramped and bloody interiors, barren landscapes stretch far into the distance, desolate other than the various littered corpses of those who 
    came before you. The world is cold and oppressive. It feels hopeless. I can’t overstate how well Scorn absolutely nails this atmosphere. It aims to be disgusting and unsettling and 
    it does not fall short.
  </p>
</div>

<div>
  <h2>Puzzles</h2>
  <p>
    One of the two main facets of Scorn’s gameplay is puzzle-solving. Puzzles themselves come in two forms: small scale puzzles such as moving pieces around a grid or correctly orienting 
    multiple interleaved components of a machine, and larger environmental puzzles that must be solved to progress to the next area. I don’t have too much to say in regards to the former. 
    They aren't particularly inspired, but they’re also not overly simple to the point of being boring, and are used infrequently enough that they don’t become tiresome.
  </p>
</div>

<app-image-viewer [imageURLs]='["scorn/puzzle-wall.png"]'></app-image-viewer>

<div>
  <p>
    The environmental puzzles however, are where the game truly excels. At this point, the game effectively becomes a walking simulator. You’ll interact with different machinery - all of which is controlled 
    via some grimace inducing mechanism using the operator’s body parts - to do simple tasks like operate elevators, open and close doors, or operate machinery to move items around the world. 
    All of this sounds rather dull, but Scorn’s world is so engaging to interact with that just wandering around pressing buttons and experiencing what happens ends up being the highlight of the 
    whole game.
    <br>
    <br>
    Early in the game, I encountered a puzzle that I realised could be solved in multiple ways. I only noticed there were different solutions in my second playthrough, 
    and while the puzzle's end result was the same, the journey became quite different. Unfortunately, as far as I’m aware, this is the only instance in the game where this is possible. 
    It would have been nice to have more of this; I enjoyed seeing something entirely new the second time round and it would definitely add to the game’s replayability knowing that 
    further playthroughs may yield previously unseen interactions. 
  </p>
</div>
<app-image-viewer [imageURLs]='["scorn/moldman.png"]'></app-image-viewer>

<div>
  <h2>Survival Horror</h2>
  <p>
    The other main element of Scorn's gameplay is it's combat - combat that I really wish didn't exist. As much as at times Scorn is a walking simulator/puzzle game, it is also a survival horror. 
    You have a rather paltry health pool, and limited access to healing items that can only be collected at specific locations. As you progress, you'll collect new weapons, similarly with limited 
    ammunition that can only be restocked at specific places. This is all standard survival horror gameplay, but in the case of Scorn, it just falls completely flat, and really tarnishes an 
    otherwise excellent game.
    <br>
    <br>
    On a slight tangent, Scorn's atmosphere and world is unsettling and disturbing, but other than a few select moments, the game doesn't ever really feel that scary. 
    There's a lot of visual horror, but there isn't a huge amount of tension, no jump scares (other than the single time I was startled by a phallic interactable item rapidly protruding from the 
    ground), and for the most part no anxiety for what may be lurking around a corner. I often felt dread and disgust looking at what was happening on screen, but the one time I found myself 
    actually scared while playing there wasn't an enemy to be seen. The constant gore and heavy atmosphere is actually Scorn's undoing in a way - there was never a doubt in my mind that horrible 
    things were going to happen to my character, and so I was never actually fearful while playing. The game has all the building blocks of a good survival horror, but without any fear those 
    elements never really work in practice.
  </p>  
</div>

<app-image-viewer [imageURLs]='["scorn/worker.jpg"]'></app-image-viewer>

<div>
  <h3>Enemies</h3>
  <p>
    And this is where the crux of Scorn's combat problem lies. The enemies simply aren't frightening. They're weird sort of parasitic creatures that will either attack from close range or 
    spit venom at you from a distance. They definitely look weird and fit the aesthetic, but they just don't evoke any fear or intimidation. Without this, the only way the combat could 
    possibly succeed is if the gameplay itself was so engaging that it felt worthwhile. As you may suspect, that is not the case.
  </p>
</div>

<div>
  <h3>Weapons</h3>
  <p>
    The weapons themselves look excellent, and are very fitting with Scorn's aesthetic and atmosphere. Each weapon has a sort of writhing tentacle that must be attached to your single weapon base, 
    and to equip a different weapon you remove the previous weapon from the base and attach the new one. The animations and sound effects are fantastic, the tentacles on each of the guns are 
    really gross, and swapping takes time, in theory making for some interesting gameplay choices as to when to use each weapon (though in practice it's just frustrating as your characters move 
    speed is also reduced while swapping so you'll almost definitely be hit while doing it). Reloading the guns is also very cool, as you have to embed 
    the ammunition in the flesh of the weapon. Inspecting all of your resources is done very well, with no inventory and a standard UI only displaying a few details, all the rest 
    being represented in game. The problem is, that regardless of how good the weapons look and sound, using them and fighting the game's various enemies isn't fun, engaging or tense - most of the 
    time it just feels unnecessary and often even frustrating.
  </p>
</div>
<app-image-viewer [imageURLs]='["scorn/inventory.png"]'></app-image-viewer>
<div>
  <p>
    There are 4 weapons to choose from: an extending melee tool akin to a Xenomorph's inner jaw that does damage by forcibly prodding enemies, a pistol, a shotgun and a grenade launcher.
    Ammo is hard to come by and must be used sparingly, so much of the time is spent using the prodder, which can attack twice before needing to recharge. Scorn's standard enemy takes 5 hits to 
    kill, meaning you have to employ sort of hit and run tactics - sprint in, jab the enemy twice, then retreat to let your prodder recharge. This is tedious when fighting a single enemy, but
    just becomes frustrating when multiple are on screen. The whole time I felt I was missing something vital in how to approach the combat, because the way to successfully fight 
    completely contradicts the game’s heavy atmosphere - it just felt silly running in and back out, or trying to strafe side to side to dodge the enemies’ toxic attacks while my prodder recharged. 
    <br>
    <br>
    As it turns out, I <span style="font-style: italic">was</span> missing something. Whenever possible, the best tactic in Scorn is simply to avoid the enemies. In many cases you can just run 
    past the enemy and leave them behind, and in some others employing some patience can be the key to success. Some enemies are just on a set path, and if you back up and stay out of their way 
    they'll simply ignore you and slowly trundle away. While overall this feels much better than dancing around with the prodder, it does nothing to help fix the situations where combat is mandatory.
  </p>
</div>

<app-image-viewer [imageURLs]='["scorn/shotgun.png"]'></app-image-viewer>

<div>
  <h2>Story</h2>
  <p>
    Scorn doesn't have much of a story in a traditional sense. There are no cutscenes, no dialogue and no explanations. You remain in first person almost all the time, and must piece together 
    some understanding of what's going on from what you witness as you play. I'll admit I had very little understanding of any story as I played, but the incredible world that Scorn provided 
    meant I didn't really care; I was happy just being grossed out and enthralled by what I was witnessing. I did a little research after finishing the game, and had a slightly better idea of 
    what was going on in my second playthrough, but understanding Scorn's story and world isn't really needed to enjoy the game. The unexplained, ambiguous nature allows you to reflect and think 
    for yourself what it might all mean. This aspect is great for replayability - you may find you think quite differently of the world and notice some new things on a repeat playthrough.
  </p>
</div>

<app-image-viewer [imageURLs]='["scorn/temple.png"]'></app-image-viewer>

<div>
  <h2>Verdict</h2>
  <p>
    Scorn is intense. The atmosphere, audio and visuals are so gripping that I have no doubt I'll return to this game to re-experience it every few years. 
    Like all good single player experiences, it doesn't overstay its welcome, and the environmental storytelling is largely unexplained, inviting multiple playthroughs to those 
    intrigued enough to try and figure out what is going on. Make no mistake, it isn't perfect. The combat is frustrating enough to actively detract from the 
    overall experience. It also <span style="font-weight:bold">absolutely</span> is not for everyone. It's violent, gory, overtly sexual and often very uncomfortable. But this is by design, 
    a vision and experience that Ebb Software unapologetically shoves in your face throughout the game. I've never played anything like it.
  </p>
</div>

<div class="card">
  <app-review-card [score]="score" [pros]="pros" [cons]="cons" [primaryColour]="primaryColour" [secondaryColour]="secondaryColour"></app-review-card>
</div>
