<app-review-banner [imageURL]='"assets/images/destiny-witch-queen-banner.jpg"'></app-review-banner>

<div class="text-center">
  <h1>Destiny 2: The Witch Queen</h1>
</div>
<div>
  <h3>The best the franchise has ever been.
  </h3>
  <h4>Published on 27/03/2022</h4>
</div>
<hr>

<div>
  <p>
    I really like Destiny. I've got thousands of hours logged across both games, spent countless other hours watching YouTube videos about it, 
    I own the physical lore books and various figures of in-game characters. Destiny expansion releases are probably the most excited I get for 
    just about anything - I'm like a child on Christmas Eve. I ran home from the tube after work on witch queen's release day so that I could play
    as soon as possible, after spending the preceding weeks making sure I was up to date with everything from the previous years content and 
    ensuring that all my gear was up to scratch.
  </p>
  <p>
    I mention all this to give context for this review. This is an expansion review from the perspective of a superfan. My opinions likely won't 
    be of much use to those who aren't in a similar mindset to me. If you didn't like Destiny already, this expansion won't change your mind. 
    But if you did already like it, then you will <span style="font-style: italic;">really</span> like it now. 
    Because "The Witch Queen", Destiny 2's 4th major expansion, is absolutely fantastic.
  </p>
</div>

<div class="video-container">
  <iframe
    frameborder="0" allowfullscreen
    src="https://www.youtube.com/embed/PYM7KDrx_Ho">
  </iframe>
</div>

<div>
  <h2>The Campaign</h2>
  <p>
    Destiny campaigns have traditionally followed a similar structure, of a few main missions with a lot of filler interspersed between. 
    They're normally incredibly easy, something you meander through, listening to the story if you're interested, but with the aim of 
    finishing it to get to the more interesting endgame. Witch queen does not follow this structure, and has introduced something more akin to a 
    campaign from a single player game than to previous Destiny campaigns. 
    <br>
    <br>
    This is the main area where Witch Queen improves over previous Destiny content. Destiny’s dungeons and secret missions like “The Whisper” 
    have always done a fantastic job of creating difficult, engaging content with a fantastic atmosphere, but casual players were unlikely to see any 
    of that. This campaign brings those excellent missions to the forefront, making them the main focus of the expansion, and it benefits immensely 
    from it. It consists of 8 missions of various lengths (the first and the last being particularly meaty), and will likely take between 8-12 hours to complete.
    The story is well structured, relatively self-contained and can be easily understood without knowledge of the game’s lore, 
    while simultaneously doing a fantastic job of furthering the overarching story of the franchise. 
  </p>
</div>

<div>
  <p>
    There aren't any complex mechanics in the campaign, however there are definitely more interesting things to do than the classic Destiny 
    "defend Ghost while he hacks something" missions. The new deepsight mechanic will have you completing jumping puzzles, following secret paths, and shooting hidden
    runes to progress. Certain bosses have limited time damage phases similar to what can be found in dungeons or raids, and relics are required to destroy specific 
    items blocking your progress. All of these combine to make a much more thoughtful and engaging experience than we've previously seen.
  </p>
</div>

<app-image-viewer [imageURL]='"assets/images/destiny-witch-queen-lucent-brood.jpg"'></app-image-viewer>

<div>
  <p>
    Savathun's Lucent Brood are the main enemies you will face throughout the campaign - the highlight of which are the new light bearing hive enemies. 
    These new baddies wield light powers and have ghosts just like guardians. They are dangerous, tough to take down, and will be revived a short time 
    after death unless you destroy their ghost. This ghost will appear where the enemy fell and can only be destroyed from close range, meaning you must 
    close the distance after taking down the lightbearer to prevent them coming back with full health. It adds an interesting dynamic to encounters, you 
    can't simply sit back and slowly whittle away at the enemies health from a safe place. You have to get right into the action - potentially exposing 
    yourself to other enemies - to take down these threats.
  </p>
</div>

<div>
  <p>
    These enemies truly shine in the expansion's new legendary campaign difficulty. This difficulty is genuinely challenging and adds an actual feeling of 
    achievement to completing each mission, and gives increased rewards to those who are able to defeat it.
    <br>
    Mission difficulty scales with the number of players - I played the first 3 missions in a trio, the 4th and 5th in a duo and the final 3 missions solo, 
    and the content remained difficult throughout. A few different bosses from various missions took me multiple tries to beat, and forced me to think about the 
    gear and abilities I was using. The content was able to stay challenging without using Bungie’s crutch of  "Champion" enemies, which have been used liberally 
    in high-end content since their introduction in shadowkeep. I see some need for champion enemies in certain content, but their absence was very refreshing.
  </p>
</div>

<div>
  <h3>New Destination</h3>
  <p>
    Much of the campaign takes place in the new patrol destination: Savathun’s throne world. This leans heavily into Destiny’s fantasy elements, and is a much more 
    fantastical location than we’ve visited recently. Destiny environments always look great, and this location doesn’t fall short of the mark. With varied areas to 
    visit, and a beautiful skybox, it’s a joy to explore. The soundtrack is also great across the whole expansion, with some powerfully creepy music playing as you 
    explore this new space.
    <br>
    <br>
    There are plenty of secrets to discover in this area, but unfortunately most of them couldn’t be found on release. Some collectibles were time-gated, 
    with two unlocked every week for the first five weeks of the expansion’s release. There are also various secrets that can only be found with an ability 
    that is unlocked by increasing your reputation with the throne world vendor. This is achieved by completing activities on the throne world, so by the time I’d 
    actually unlocked the upgrade I was mostly done with exploring the destination. It would be much better to have the ability to find all these secrets and 
    collectibles straight away - finding them while exploring organically would be a lot more exciting than having to deliberately hunt them out later.
  </p>
</div>

<app-image-viewer [imageURL]='"assets/images/destiny-witch-queen-throne-world.jpg"'></app-image-viewer>

<div>
  <h3>Void 3.0</h3>
  <p>
    While new subclasses haven’t been introduced with this expansion like the year before, we did get a revamped version of the void subclasses. 
    They now use the new aspect/fragment system introduced with stasis, and updates to both the arc and solar subclasses are promised for future seasons in the year.
    <br>
    <br>
    The new void subclasses far outclass most other things in the game now, and while I do think they’ll be reined in a little bit, I’ve had an absolute blast 
    using them. 99% of my playtime is on the Titan class so I can only really speak for that, but it has some great new abilities that are both effective and fun to use. 
    The new bastion aspect allows you to create a barricade that gives you an overshield which is great for survivability, and the new shield throw melee can do 
    some good damage from a distance and also give you an overshield in a pinch. Armour affinity can now be changed for a much lower price, and armour mods can be 
    swapped for free, which allows for much more experimentation with builds; I’ve had a lot of fun making some powerful builds that complement the new subclass.
  </p>
</div>

<div>
  <h2>Loot</h2>
  <p>
    A lack of loot to chase was a big pain point in Destiny 2's previous expansion. Bungie were made well aware of this, and have remedied 
    the situation with Witch Queen. Not only are there a lot of new guns and armour sets to get from various sources, but each new weapon now also comes with an 
    intrinsic “origin” trait, based on its source. These are a fantastic addition to the game, help set apart weapons of the same archetype, and just make 
    the world feel more real. 
    <br>
    <br>
    Previously two auto rifles obtained from strikes or the crucible could feel incredibly similar, potentially rolling with the exact same perks. 
    Now, the crucible one has an increased reload speed when not in combat, and the one from strikes will heal you slightly on each kill. 
    This change really helps each weapon feel like it’s part of a family, and people will naturally gravitate towards given weapons based on their own 
    playstyle and the origin trait of the weapon. If someone wants a gun that lets them keep shooting, they’ll look to Veist. 
    If they want to do a lot of damage to a boss or vehicle, you can send them to Häkke. 
  </p>
  <app-image-viewer [imageURL]='"assets/images/destiny-witch-queen-glaive.jpg"'></app-image-viewer>
</div>
<div>
  <p>
    A new “Glaive” weapon type has also been introduced, which is a sort of hybrid melee, ranged and shielding weapon that takes special ammo. 
    While having new toys to play with is always appreciated, I found these weapons to be quite underwhelming; they simply don’t deal enough damage with 
    either their melee or their ranged shots to compete with other weapons in the same slot. Here’s hoping they get some buffs at a later date, as they 
    are good fun, just not viable for anything beyond the simplest of activities.
  </p>
</div>

<div>
  <h3>Crafting</h3>
  <p>
    This feature hasn’t landed with me as I thought it would. Being able to choose a given roll for a given gun is a lovely quality of life change, 
    but a few different barriers to entry have prevented me from interacting with the system too heavily. Getting a weapon “pattern” can involve a 
    lot of RNG and grinding, and equipping specific perks can require some scarce materials. The system is also unforgiving - if you realise you 
    don’t like the perks you chose, you must reshape and pay the full price for the perk change, and can’t change back without paying a third time.
    <br>
    It’s meant to be more of a long term pursuit thing, allowing you to craft your perfect weapon once you know exactly what perks you want on it. 
    This is fine, it’s just different from what I expected. I’m mainly disappointed as the UI for crafting is excellent, 
    and it’s a shame to not be interacting with it more regularly.
  </p>
  <app-image-viewer [imageURL]='"assets/images/destiny-witch-queen-crafting.jpg"'></app-image-viewer>
</div>

<div>
  <h2>Season of the Risen</h2>
  <p>
    While Season of the Risen is separate from The Witch Queen, the two launching at the same time has meant I’ve coupled them in my mind, and so it’s included 
    in this review. This season is a big step up from previous seasons that have come with major expansions, mainly because the storyline is actually related 
    to the story from the expansion. Both Season of the Undying which launched alongside Shadowkeep, and Season of the Hunt which came with Beyond Light had 
    storylines that were completely separate and seemingly unrelated to the expansion they released alongside. Having the two linked together feels far superior, 
    and helps feel like the events of the expansion aren’t just wrapped up in a neat little bow by the end of the campaign. 
    <br>
    <br>
    These seasonal storylines are something Bungie has really succeeded with over the past year. Storylines play out weekly, with character growth and 
    developments happening at a regular cadence, eventually concluding with a sort of season finale. Season of the Risen seems to continue this trend, 
    and I’ve enjoyed the storyline it’s been telling week on week. 
  </p>
</div>
<app-image-viewer [imageURL]='"assets/images/destiny-witch-queen-psiops.jpg"'></app-image-viewer>
<div>
  <p>
    I’m less impressed by the actual gameplay of the season. The seasonal activity is called PsiOps Battlegrounds and is like most other seasonal activities 
    Destiny offers - it’s fine, there’s just very little depth. There is also a new replayable weekly mission that rewards an exotic weapon. 
    It takes place in an area of Mars from Destiny 1 so I enjoyed the nostalgia, and the mission itself is fun - featuring a timer that adds some exciting pressure - 
    but I do think it could have done with more variation week on week to make me want to come back repeatedly other than just to get the weekly pinnacle reward.
  </p>
</div>

<div>
  <h2>The Raid</h2>
  <p>
    Destiny raids are undoubtedly the best part of the game, and I implore anyone who hasn’t tried one to get a group together and give it a shot. The Witch Queen's 
    new raid - Vow of the Disciple - is fantastic, with some excellent encounters and a final boss that plays very differently to Destiny’s standard raid boss fights. 
    I’ve already mentioned the expansion's impressive visuals, but the area the raid takes place in is particularly worth highlighting, it truly looks phenomenal. 
    <br>
    <br>
    My main complaint around the raid concerns contest mode, the heightened difficulty that is applied to the raid for the first 24 hours of its release 
    and rewards a unique emblem to any team that completes it during this time. Me and my team spent about 16 hours in the raid on day one, and while we 
    didn’t manage to complete it, we’d have loved to be able to go back in and give it another go after the time limit. I am yet to replicate the feeling of 
    accomplishment you get from completing some of these gruelling encounters with contest mode on in any other game, it’s a very unique experience. 
    The encounters become <span style="font-weight:bold">significantly</span> easier once contest mode is off, and while I wouldn’t expect a post 24-hour completion 
    to reward the emblem, it should be a selectable difficulty for those who wish to play it.
    <br>
    <br>
    For those interested in seeing the aforementioned feelings of accomplishment, below is a clip from my friend's perspective of me and my team beating the 
    raid’s first of two bosses on contest mode. We spent about 10 hours on this encounter alone, spread across two play sessions.
    <br>
    <br>
    <span style="font-weight:bold">PROFANITY WARNING - LOTS OF SWEARING BELOW</span>
  </p>
</div>

<div class="video-container">
  <iframe
    frameborder="0" allowfullscreen
    src="https://player.twitch.tv/?video=1438411616&parent=localhost&autoplay=false">
  </iframe>
</div>

<div>
  <h3>Negatives</h3>
  <p>
    The Witch Queen introduces a lot of fresh, exciting content, and some new gameplay systems that keep things fresh for existing players. 
    Where it falls short is the things it doesn’t do - in supporting existing activities, and in improving the new player experience. 
    At the time of publishing, it is now 908 days since a new map has been added to the crucible - almost 2 and a half years. 
    Trials of Osiris has seen some improvements over the past year, but no new modes have been added since its Destiny 2 debut in March 2020. 
    I’m a big fan of Destiny’s pvp, and it’s a real shame to not have anything new to do after such a long time. 
    New abilities and guns can help keep the sandbox fresh, but new maps and modes would be much more of a game changer. 
    Gambit also saw some big rebalancing with Witch Queen’s release, including the introduction of a freelance playlist to prevent solo’s having to face full teams, 
    but it still only has a measly selection of maps, and with content vaulting there’s actually less maps than the mode originally released with.
    <br>
    <br>
    On top of this, the new player experience leaves a lot to be desired. Since the game’s original campaign was removed, new players will find themselves shoved 
    into a large world with very little instruction. The cosmodrome location was added last year, and gives players some small tutorial, but they are then left 
    to figure things out mostly for themselves. I’ve helped a few new/returning players recently, and the number of unexplained systems in the game is astonishing 
    and really needs improvement. There is so much content in Destiny, but it can be overwhelming without any clear path as to the order things should be tackled in. 
    The new Witch Queen campaign is probably a good starting point, but it’s locked behind a relatively steep paywall that will be unattractive to a 
    new player just dipping their toes in.
  </p>
</div>

<div>
  <h2>Verdict</h2>
  <p>
    The Witch Queen doesn’t do anything particularly innovative, it’s essentially just more Destiny. But for fans of the game, the fantastic new campaign, destination, 
    activities and gameplay systems all add up for a brilliant and rewarding experience. New PvP maps and modes are sorely missed, and newer players will still have a 
    hard time getting into the game, but overall Destiny is the strongest it’s ever been across both games. With two major expansions left in the light/dark saga, 
    I can’t wait to see what Bungie does next.
  </p>
</div>

<div class="card">
  <app-review-card [score]="score" [pros]="pros" [cons]="cons"></app-review-card>
</div>
