.whole-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  // background: linear-gradient(90deg, rgba(32,30,36,1) 0%, rgba(45,45,74,1) 35%, rgba(73,105,111,1) 100%);
  background-color: #1A1A1D;
}

mat-sidenav-container {
  flex: 1;
}

.main-container {
  display: flex;
}

.border {
  flex:1;
}

.toolbar-container {
  flex:999 1 auto;
  max-width: 1000px;
}

.content-container {
  flex:999;
  max-width: min(1000px, 90%);
}

.page-content {
  flex:999;
  // max-width: min(800px, 90%);
  text-align: center;
}
