<div>
  <nav>
    <ul>
      <li>
        <a routerLink="{{AppRoutes.Home}}" routerLinkActive #homeActive="routerLinkActive">
          <h2 [ngClass]="{'is-active': homeActive.isActive}">Home</h2>
        </a>
      </li>
      <li>
        <a routerLink="{{AppRoutes.Second}}" routerLinkActive #secondActive="routerLinkActive">
          <h2 [ngClass]="{'is-active': secondActive.isActive}">CV</h2>
        </a>
      </li>
      <li>
        <a routerLink="{{AppRoutes.Third}}" routerLinkActive #thirdActive="routerLinkActive">
          <h2 [ngClass]="{'is-active': thirdActive.isActive}">Portfolio</h2>
        </a>
      </li>
      <li>
        <div class="flex-container">
          <div style="flex:1;"></div>
          <div style="flex:100;">
            <a routerLink="{{AppRoutes.Blog}}" routerLinkActive #blogActive="routerLinkActive">
              <h2 [ngClass]="{'is-active': blogActive.isActive}">Blog</h2>
            </a>
          </div>
          <div style="flex:1;">
            <mat-icon (click)="toggleSubList()" class="icon" >keyboard_arrow_down</mat-icon>
          </div>
        </div>
        <ul *ngIf="subListOpen">
          <li>
            <a routerLink="{{AppRoutes.Blog}}/{{AppRoutes.ReadingList2021}}" routerLinkActive #readingList2021Active="routerLinkActive">
              <h4 [ngClass]="{'is-active': readingList2021Active.isActive}">Reading List 2021</h4>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <div class="flex-container">
          <div style="flex:1;"></div>
          <div style="flex:100;">
            <a routerLink="{{AppRoutes.GameReviews}}" routerLinkActive #gameReviewsActive="routerLinkActive">
              <h2 [ngClass]="{'is-active': gameReviewsActive.isActive}">Game reviews</h2>
            </a>
          </div>
          <div style="flex:1;">
            <mat-icon (click)="toggleSubList()" class="icon" >keyboard_arrow_down</mat-icon>
          </div>
        </div>
        <ul *ngIf="subListOpen">
          <li>
            <a routerLink="{{AppRoutes.GameReviews}}/{{AppRoutes.LittleNightmares2}}" routerLinkActive #littleNightmaresTwoActive="routerLinkActive">
              <h4 [ngClass]="{'is-active': littleNightmaresTwoActive.isActive}">Little Nightmares 2</h4>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="{{AppRoutes.Sixth}}" routerLinkActive #sixthActive="routerLinkActive">
          <h2 [ngClass]="{'is-active': sixthActive.isActive}">Contact</h2>
        </a>
      </li>
    </ul>
  </nav>
</div>
