ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover > h2, a:hover > h4, .icon:hover {
  color: darkgrey;
}

.is-active {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  align-items:center;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

.icon {
  color:white;
  vertical-align: middle;
  width:18px;
}
