.exit-position {
  position: relative;
  width: 0;
  height: 0;
}

.icon-container {
  font-size: 40px;
  color: white;
}

.exit {
  position: absolute;
  left: 16px;
  top: 4px;
}

.header, footer {
  flex:1;
}

.nav {
  flex:100;
  align-items: center;
  align-content: center;
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  text-align: end;
  padding: 25px;
}

.divider {
  flex: 1 100 auto;
}

.enable-vert-scroll {
  touch-action: pan-y !important;
}
