<div class="text-center">

  <h1>Caleb Devonport</h1>
  <hr style="border-width:0.1;color:white;background-color:white; border-radius: 50%;">

  <div style="display: flex; flex-wrap:wrap; padding:25px 0px; align-items: center; height: 45%;">
    <div style="flex: 1;">
      <h1>Software Engineer</h1>
      <h1>Random</h1>
      <h1>Random</h1>
      <h1>Random</h1>
      <h1>Random</h1>
    </div>
    <div style="flex: 1; min-width: 250px;">
      <img src="assets/images/CrabPic.jpg">
    </div>
  </div>

  <div style="display: flex; flex-wrap:wrap; padding-bottom:25px; align-items: center;">
    <div style="flex: 1; min-width: 250px;">
      <img src="assets/images/CrabPic.jpg">
    </div>
    <div style="flex: 1;">
      <h1>Software Engineer</h1>
      <h1>Random</h1>
      <h1>Random</h1>
      <h1>Random</h1>
      <h1>Random</h1>
    </div>
  </div>

  <div style="padding-bottom:25px;">
    <img src="assets/images/DoomPanorama.jpg">
  </div>
  <div style="padding-bottom:25px;">
    <img src="assets/images/DoomPanorama.jpg" >
  </div>
  <div style="padding-bottom:25px;">
    <h1>Testing the bottom</h1>
  </div>
</div>
