<div class="text-center">
  <h1>Reading List 2021</h1>
</div>
<div>
  <h3>I'm proud to say I read a whole lot last year. I challenged myself to read 30 pages a day for the whole year and I managed it, 
    reading 29 books in the process!
  </h3>
</div>
<hr>

<div>
  <p>
    I used to read loads as a kid, but mostly stopped as I got older. I still enjoyed reading when I got a new book, but normally I would just binge it in a 
    week or so, then not touch another one for months at a time. A couple of things happened last year to reignite my love of reading.
    Coincidentally, both of these things happened on the 4th of January.
    <br>
    <br>
    Firstly, Boris Johnson announced another coronavirus lockdown. While I didn't know how long it would be at the time 
    (it ended up being like 3 months), I knew I'd be stuck inside for a good long while, and so I was looking for a long term goal 
    that I could work towards.
    <br>
    Secondly, I saw <a href="https://www.reddit.com/r/pics/comments/kpzkvw/my_awesome_friend_showing_off_her_2020_completed/">this reddit post</a>, 
    with someone showing off how much they had read in 2020. 
    The post really impressed me - there was such a varied selection of books, and the stack was so tall! 
    I was inspired - I knew I was looking for something to do during lockdown, I knew I loved reading and wanted to do it more, 
    and I now knew I wanted to take a similar picture of myself with a big stack of books.
  </p>
</div>

<div>
  <p>
    And so I set myself the challenge of reading as much as I could in the year. I wanted to create a positive habit of reading regularly, 
    as I knew that if I didn't commit to it I would just slip back into my normal ways of finishing a book then not touching another for ages.
    I'm quite goal oriented, so I've always found I have more success with stuff if I set some form of challenge. I decided I would try 
    to read 30 pages a day - by no means a huge amount, but enough that if I didn't read for a few days I would quickly fall behind. 
    I read every evening before bed, which was a much better habit than my previous bedtime routine of scrolling endlessly through social media.
  </p>
</div>

<div>
  <p>
    I was very glad I decided to do this, as during lockdown reading was a huge help in keeping me sane. I started getting up earlier 
    and reading a little in the mornings before work as well; it helped me to relax in the mornings and prepare for the workday 
    rather than waking up shortly before I was meant to start and sprinting downstairs to my pc in a panic.
    <br>
    Eventually lockdown ended, and with more things going on I did find it harder to keep up the habit, but I kept to my goal. 
    To ensure I was keeping to my 30 pages a day, I decided to create a spreadsheet, tracking the dates I'd finished different books and
    making sure I was keeping up the pace. I got a bit obsessed with the stats, and created a few charts as well to see which authors I'd 
    been reading the most.
    Anyone interested can find it <a href="https://docs.google.com/spreadsheets/d/1zMfSd33r0ygYTtN-l3EWliguyxfS3Y7Tq_u-u9VNFrU/edit?usp=sharing">here</a>.
  </p>
</div>

<div>
  <p>
    And so here we are in 2022. I'm proud to say I managed what I'd set out to do - I had a wonderful time reading a variety of books, 
    and I made reading a regular habit that I aim to continue going forwards. Pictured below is me holding all the books I read last year.
  </p>
  <app-image-viewer [imageURL]='"assets/images/reading-list-nice-2021.jpg"'></app-image-viewer>
</div>

<div>
  <p>
    For those not interested in viewing the google drive, I'll sum up the main stats here:
  </p>
  <ul>
    <li>
      <p>Average pages per day: 33.9</p>
    </li>
    <li>
      <p>Total pages: 12382</p>
    </li>
    <li>
      <p>Total number of books: 29</p>
    </li>
    <li>
      <p>Average book length: 427 pages</p>
    </li>
  </ul>
</div>
<p>
  Below is the full list of books I read.
</p>

<div>
  <ul>
    <li>
      <p>IT</p>
    </li>
    <li>
      <p>It's Always Sunny in Philadelphia: The 7 Secrets of Awakening the Highly Effective Four-Hour Giant, Today</p>
    </li>
    <li>
      <p>The Stand</p>
    </li>
    <li>
      <p>Destiny Grimoire Anthology Volume III: War Machines</p>
    </li>
    <li>
      <p>The Lord of The Rings: The Fellowship of the Ring</p>
    </li>
    <li>
      <p>The Lord of The Rings: The Two Towers</p>
    </li>
    <li>
      <p>The Lord of The Rings: The Return of the King</p>
    </li>
    <li>
      <p>The Shining</p>
    </li>
    <li>
      <p>Murder on the Orient Express</p>
    </li>
    <li>
      <p>The Book Thief</p>
    </li>
    <li>
      <p>The Hitchhiker's Guide to the Galaxy</p>
    </li>
    <li>
      <p>The Restaurant at the End of the Universe</p>
    </li>
    <li>
      <p>Life, The Universe, and Everything</p>
    </li>
    <li>
      <p>So Long, And Thanks For All The Fish</p>
    </li>
    <li>
      <p>Mostly Harmless</p>
    </li>
    <li>
      <p>Later</p>
    </li>
    <li>
      <p>If It Bleeds</p>
    </li>
    <li>
      <p>Shuggie Bain</p>
    </li>
    <li>
      <p>Life On Earth</p>
    </li>
    <li>
      <p>The Thursday Murder Club</p>
    </li>
    <li>
      <p>The World Atlas Of Coffee</p>
    </li>
    <li>
      <p>Watership Down</p>
    </li>
    <li>
      <p>Harry Potter and the Philosopher's Stone</p>
    </li>
    <li>
      <p>Harry Potter and the Chamber of Secrets</p>
    </li>
    <li>
      <p>Harry Potter and the Prisoner of Azkaban</p>
    </li>
    <li>
      <p>Harry Potter and the Goblet of Fire</p>
    </li>
    <li>
      <p>Harry Potter and the Order of the Phoenix</p>
    </li>
    <li>
      <p>Harry Potter and the Half-Blood Prince</p>
    </li>
    <li>
      <p>Harry Potter and the Deathly Hallows</p>
    </li>
  </ul>
</div>

<hr>

<div>
  <p>
    I don't think I could pick a single favourite out of the bunch. To me, reading is a way of immersing myself in another world, 
    and so I think I enjoyed the books where I lost myself the most. To that end, "The Stand" and "The Lord of the Rings" were 
    probably my favourites - the length of both epics really gives you time to connect with the characters, and 
    I'm unashamed to say both brought me to tears. I thoroughly enjoyed revisiting the Harry Potter series again too. I think, like 
    many others, Harry Potter was what sparked my love of reading (I read the whole series at least 5 times as a kid), and re-reading 
    them again after a decade or so was a real treat. 
    <br>
    I didn't dislike any of the books, but there were definitely some I wasn't as keen on. I didn't think "The Shining" was amazing, 
    and I wasn't blown away by "Murder on the Orient Express", but given both are hugely popular classics maybe my expectations were 
    just too high. I re-read the whole "Hitchhiker's Guide to the Galaxy" series as well, and while they were great at some points and 
    often had me laughing, I remember enjoying them a lot more when I read them the first time around.
  </p>
</div>

<div>
    <p>
      Anyway, to anyone reading this, thanks a lot, and I hope you enjoyed. Maybe this will inspire you to start reading some more, 
      or maybe you already are! I'd love to see some other people's big stacks of books next year. My details are on the contact page 
      if you want to get in touch and discuss anything.
    </p>
  </div>

<hr>

<div>
  <h4>Published on 09/01/2022</h4>
</div>