<div class="text-center">
  <h1>Reading List 2021</h1>
</div>
<div>
  <h3>I'm proud to say I read a whole lot last year. I set myself the target of reading 30 pages a day for the whole year and I managed it!
  </h3>
</div>
<hr>

<div>
  <p>
    I used to read loads as a kid, then stopped as I got older. I still enjoyed reading when I got a new book, but normally I would just binge through a book in a 
    week or so, then not touch another one for months at a time. A couple of things happened last year to reignite my love of reading.
    <br>
    <br>
    <!-- Firstly, I was given a few books for Christmas in 2020 - specifically IT, and The Stand, two Stephen King classics. I started IT in the new year, and was really enjoying it. -->
    Both these things happened on the 4th of January - firstly, Boris Johnson announced another coronavirus related lockdown. While I didn't know how long it would 
    be at the time (it ended up being like 3 months), I knew I'd be stuck inside for a good long while, and so I was looking for something that I could work towards over
    this time.
    <br>
    Secondly, I saw <a href="https://www.reddit.com/r/pics/comments/kpzkvw/my_awesome_friend_showing_off_her_2020_completed/">this reddit post</a>, with someone showing off 
    how much they had read in 2020. I was impressed, and inspired - if they could do it why couldn't I?
  </p>
</div>

<div>
  <p>
    And so I set myself a challenge of reading as much as I could in the year. Shortly after this goal was refined to reading what I believed to be a sustainable 
    level of 30 pages per day. I ended up an average of 33.9 pages per day, with a total of 12382 pages, and 29 books. 
    The full (ordered by date read) list of books can be seen below, as well as a picture (ordered by structural integrity) of me holding them all!
  </p>
  <app-image-viewer [imageURL]='"assets/images/reading-list-2021.jpg"'></app-image-viewer>
</div>

<hr>

<div>
  <ul>
    <li>
      <p>IT</p>
    </li>
    <li>
      <p>It's Always Sunny in Philadelphia: The 7 Secrets of Awakening the Highly Effective Four-Hour Giant, Today</p>
    </li>
    <li>
      <p>The Stand</p>
    </li>
    <li>
      <p>Destiny Grimoire Anthology Volume III: War Machines</p>
    </li>
    <li>
      <p>The Lord of The Rings: The Fellowship of the Ring</p>
    </li>
    <li>
      <p>The Lord of The Rings: The Two Towers</p>
    </li>
    <li>
      <p>The Lord of The Rings: The Return of the King</p>
    </li>
    <li>
      <p>The Shining</p>
    </li>
    <li>
      <p>Murder on the Orient Express</p>
    </li>
    <li>
      <p>The Book Thief</p>
    </li>
    <li>
      <p>The Hitchhiker's Guide to the Galaxy</p>
    </li>
    <li>
      <p>The Restaurant at the End of the Universe</p>
    </li>
    <li>
      <p>Life, The Universe, and Everything</p>
    </li>
    <li>
      <p>So Long, And Thanks For All The Fish</p>
    </li>
    <li>
      <p>Mostly Harmless</p>
    </li>
    <li>
      <p>Later</p>
    </li>
    <li>
      <p>If It Bleeds</p>
    </li>
    <li>
      <p>Shuggie Bain</p>
    </li>
    <li>
      <p>Life On Earth</p>
    </li>
    <li>
      <p>The Thursday Murder Club</p>
    </li>
    <li>
      <p>The World Atlas Of Coffee</p>
    </li>
    <li>
      <p>Watership Down</p>
    </li>
    <li>
      <p>Harry Potter and the Philosopher's Stone</p>
    </li>
    <li>
      <p>Harry Potter and the Chamber of Secrets</p>
    </li>
    <li>
      <p>Harry Potter and the Prisoner of Azkaban</p>
    </li>
    <li>
      <p>Harry Potter and the Goblet of Fire</p>
    </li>
    <li>
      <p>Harry Potter and the Order of the Phoenix</p>
    </li>
    <li>
      <p>Harry Potter and the Half-Blood Prince</p>
    </li>
    <li>
      <p>Harry Potter and the Deathly Hallows</p>
    </li>
  </ul>
</div>

<hr>

<!-- <div>
  <p>
    I'd enjoyed reading challenges in the past. One time when I was a kid I set myself the challenge of reading all the Harry Potter books in two weeks.
    That one was definitely tough, I pretty much had my nose buried in a book the whole time; I have a vivid memory of getting my feet measured for new school shoes
    at Clarks and just reading the whole time, barely looking up to see what was going on.
  </p>
  <app-image-viewer [imageURL]='"assets/images/little-nightmares-2-teacher.png"'></app-image-viewer>
</div> -->

<div>
  <h4>Published on 03/01/2022</h4>
</div>