.nav-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-container {
  font-size: 40px;
  color: white;
}

.exit {
  position: fixed;
  left: 16px;
  top: 4px;
  z-index: 999;
}

.spacer {
  flex: 1 100 auto;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.viewer-content {
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-item {
  flex:auto;
}

ul {
  list-style: none;
  padding-inline-start: 0 !important;
}

a {
  text-decoration: none;
}

a:hover > h4 {
  color: darkgrey;
}

.is-active {
  text-decoration: underline;
}
